<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&display=swap" rel="stylesheet">    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">


    <!-- Scripts-->
    <script src="../static/scripts/imageba.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/cferdinandi/smooth-scroll/dist/smooth-scroll.polyfills.min.js"></script>
    <!-- Scripts end-->

    <title>Homeopathy Website</title>
</head>

<body>
    <div class="slideup">
        <a class="slide-up" href="#top"><img src="../static/images/icon-ios7-arrow-up-512.webp" alt=""></a>
    </div>
    <div class="wrapper">

    <header>
        <div id="top" class="contact-nav">
            <ul class="contacts">
                <li class="contact">
                    <i class="call-icon"><img src="../static/images/Icon ionic-ios-call.svg" alt="" style="width: 0.938vw; height: 0.938vw;"></i>987654321 |</li>
                <li class="contact">
                    <i class="plane-icon"><img src="../static/images/Icon awesome-paper-plane.svg" alt="" style="width: 0.938vw; height: 0.938vw;"></i>xyz@homeopathy.com</li>
                <li class="contact social-media">
                    <i class="twitter"><img src="../static/images/twitter.svg" alt="" style="width: 0.99vw; height: 0.99vw;"></i><i class="facebook"><img src="../static/images/facebook.svg" alt="" style="width: 0.99vw; height: 0.99vw;"></i><i class="instagram"><img src="../static/images/instagram.svg" alt="" style="width: 0.99vw; height: 0.99vw;"></i>
                </li>
                <div class="contact-space">
                </div>
            </ul>
        </div>


        <div class="main-nav">
            <div class="logo"><img src="../static/images/logo.svg" alt="logo"></div>
            <ul class="main-nav__items">
                <li class="main-nav__item"> <a data-scroll href="#home">Home</a></li>
                <li class="main-nav__item"><a data-scroll href="#doc">Dr Ashok Sharma </a></li>
                <li class="main-nav__item"><a data-scroll href="#whyhomeo"> Why Homeopathy? </a></li>
                <li class="main-nav__item"><a data-scroll href="#testimonials">Testimonials</a></li>
                <li class="main-nav__item"><a data-scroll href="#diseases">Diseases</a></li>
                <li class="main-nav__item"><a data-scroll href="#gallery">Gallery</a></li>
                <li class="main-nav__item"><a data-scroll href="#blog">Blog</a></li>
                <li class="main-nav__item"><a  data-scroll href="#faq">FAQ</a></li>
                <li class="main-nav__item nav-item-ctn" onclick="loremipsun()">Book an Appointment</li>
            </ul>
        </div>
        <div class="sidenav-btn">
            <button class="btn" onclick="openNav()"><i class="material-icons">menu</i></button>
        </div>
        <div id="mySidenav" class="sidenav">
            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
            <ul class="main-nav__items">
                <li class="main-nav__item"><a data-scroll href="#home" onclick="closeNav()">Home</a></li>
                <li class="main-nav__item"><a data-scroll href="#doc" onclick="closeNav()">Dr Ashok Sharma </a></li>
                <li class="main-nav__item"><a data-scroll href="#whyhomeo" onclick="closeNav()"> Why Homeopathy? </a></li>
                <li class="main-nav__item"><a data-scroll href="#testimonials" onclick="closeNav()">Testimonials</a></li>
                <li class="main-nav__item"><a data-scroll href="#diseases" onclick="closeNav()">Diseases</a></li>
                <li class="main-nav__item"><a data-scroll href="#gallery" onclick="closeNav()">Gallery</a></li>
                <li class="main-nav__item"><a data-scroll href="#blog" onclick="closeNav()">Blog</a></li>
                <li class="main-nav__item"><a data-scroll href="#faq" onclick="closeNav()">FAQ</a></li>
                <li class="main-nav__item nav-item-ctn" onclick="loremipsun()">Book an Appointment</li>
            </ul>
        </div>
        </header>

    <main>
        <!-- Section One Start-->

        <section id="home" class="section-one">
            <div class="section-one-flex">
                <div class="section-one__images">
                    <div class="section-one-image__purple"></div>
                    <div class="section-one-image__bottles"></div>
                    <div class="section-one-image__greenquote">
                        <p class="section-one-author-quote">"Had an amazing experience, staff was very nice and helpful throughout the process"</p>
                        <p class="section-one-author">by Amit Sharma</p>
                    </div>
                    <div class="section-one-image__purpledots"><img src="../static/images/Repeat Grid 8 purple.svg" alt=""></div>
                </div>
                <div class="section-one-content">
                    <h1>What if we told you the ailment you have been suffering for years<span> can be cured</span></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta.</p>
                    <div class="section-one__buttons">
                        <button class="btn" onclick="loremipsun()">Get free consultation</button>
                        <button class="btn btn-ctn btn-mob" onclick="loremipsun()">Learn more</button>
                    </div>
                    <div class="section-one__rating">
                        <p>Rated <span class="stars"> <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star-half.svg" alt=""><span class="section-one-content__gr"> by Google reviews</span></span></p>
                        <p>Rated 4.5 by over 1000 reviews</p>
                    </div>
                </div>
            </div>
            <div class="section-one-image__greendots7">
                <img src="../static/images/Repeat Grid 7.svg" alt="" >
            </div>
            
         
                
                
            
        </section>
        <!-- Section One End-->

        <!-- Section Two Start-->
        <section class="section-two">
            <div>
                <div class="section-two-image__dots"></div>
                <h1>Recent Reviews on Google</h1>
                <div class="section-two__cards" data-aos="slide-up" data-aos-offset="400" data-aos-delay="50" data-aos-duration="1000">
                    <div class="section-two__card">
                        <img src="../static/images/akhil.jpg" alt="profile pic">
                        <h2 class="name"  >Jane Doe</h2>
                        <span class="stars"><img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star-half.svg" alt=""></span>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit" amet, consectetur</p>
                    </div>
                    <div class="section-two__card">
                        <img src="../static/images/akhil.jpg" alt="profile pic">
                        <h2 class="name" >Jane Doe</h2>
                        <span class="stars"><img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star-half.svg" alt=""></span>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit" amet, consectetur</p>
                    </div>
                    <div class="section-two__card">
                        <img src="../static/images/akhil.jpg" alt="profile pic">
                        <h2 class="name">Jane Doe</h2>
                        <span class="stars"><img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="" ">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star-half.svg" alt=""></span>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit" amet, consectetur</p>
                    </div>
                </div>
                <h2 class="quote">"Diseases that arise from inside must be treated from inside, not from outside"</h2>
            </div>
        </section>
        <!-- Section Two End-->

        <!-- Section Three Start-->
        <section id="doc" class="section-three">
            <div class="section-three-flex">
                <div class="section-three-images" data-aos="slide-right" data-aos-offset="350" data-aos-delay="50" data-aos-duration="900">
                    <div class="section-three-image__purple"></div>
                    <div class="section-three-image__doctor"></div>
                    <div class="section-three-image__green"></div>
                    <div class="section-three-image__greendots"><img src="../static/images/repeat grid 8 green.svg" alt=""
                        style=""> </div>
                </div>
                <div class="section-three-content" data-aos="slide-left" data-aos-offset="350" data-aos-delay="20" data-aos-duration="900">
                    <h1>Dr Ashok Sharma</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta.</p>
                    <button class="btn" onclick="loremipsun()">Contact Me</button>
                </div>
            </div>
            <div class="section-three-image__purpledots"><img src="../static/images/Repeat Grid 8 purple.svg" alt=""> </div>
        </section>
        <!-- Section Three End-->

        <!-- Section Four Start-->
        <section id="whyhomeo" class="section-four">
            <div>
                <div class="section-four-content-one">
                    <h1 >Why choose homeopathy?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing In vestibulum elit id pulvinar porta. Lorem ipsum</p>
                </div>
                <div class="section-four__cards">
                    <div class="section-four__card">
                        <img src="../static/images/immunity.svg" alt="" data-aos="zoom-out" data-aos-offset="200" data-aos-delay="20" data-aos-duration="200">
                        <h3>No Side Effects</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet consectetur adipiscing</p>
                    </div>
                    <div class="section-four__card charity">
                        <img src="../static/images/charity.svg" alt="" data-aos="zoom-out" data-aos-offset="200" data-aos-delay="20" data-aos-duration="1000">
                        <h3>Permanent Results</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet consectetur adipiscing</p>
                    </div>
                    <div class="section-four__card">
                        <img src="../static/images/healthy.svg" alt="" data-aos="zoom-out" data-aos-offset="200" data-aos-delay="20" data-aos-duration="1500">
                        <h3>Strengthens Immunity</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing Lorem ipsum dolor sit amet consectetur adipiscing</p>
                    </div>
                    <div class="section-four-image__greendotsone"></div>
                </div>

                <h2 class="quote">"The natural healing force within each of us is the greatest force in getting well"</h2>

                <div class="section-four-content-two">
                    <h1 data-aos="zoom-out" data-aos-delay="50">What your doctors aren't telling you?</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit amet, consectetur</p>
                </div>
                <div class="section-four-image__greendotstwo"><img src="../static/images/Repeat Grid 7.svg" alt=""
                    style=""></div>
                    <div class="section-four-image__greendotsthree"><img src="../static/images/Repeat Grid 7.svg" alt=""></div>
                <div class="section-four-comparison">
                    <div class="comparison-head-flex">
                        <h2 class="comparison-space"></h2>
                        <h3>Allopathy</h3> 
                        <h3>Homeopathy</h3>
                    </div>
                    
                    <div class="section-four-comparison__card" data-aos="slide-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="900">
                        <h2>Cost</h2>
                       
                        <h3>₹5000</h3>
                        <h3 class="green">₹1000</h3>
                    </div>
                    <div class="section-four-comparison__card" data-aos="slide-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="900">
                        <h2>Time to cure</h2>
                        
                        <h3>4 Years</h3>
                        <h3 class="green">2 Years</h3>
                    </div>
                    <div class="section-four-comparison__card" data-aos="slide-left" data-aos-offset="200" data-aos-delay="50" data-aos-duration="900">
                        <h2>Side effects</h2>
                        
                        <h3>Plenty</h3>
                        <h3 class="green">None</h3>
                    </div>
                    <div class="section-four-comparison__card" data-aos="slide-right" data-aos-offset="200" data-aos-delay="50" data-aos-duration="900">
                        <h2>Results</h2>
                        
                        <h3>Temporary</h3>
                        <h3 class="green">Permanent</h3>
                    </div>
                    <div class="section-four-image__purpledots"><img src="../static/images/Repeat Grid 7 purple.svg" alt=""
                        style=""></div>
                </div>
            </div>
        </section>
        <!-- Section Four End--> 

        <!-- Section Five Start--> 
        <section id="diseases" class="section-five">
            <div>
                <div class="section-five-content">
                    <h1>Tell us what you are going through</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit amet, consectetur</p>
                </div>
              <div class="section-five__cards">
                  <!-- <div class="section-five-fb1"> -->
                    <div class="section-five__card">
                        <img src="../static/images/lungs.svg" alt="" height="130px">
                        <p class="section-five-caption">Asthma</p>
                      </div>
                      <div class="section-five__card">
                        <img src="../static/images/spine.svg" alt="" height="130px">
                        <p class="section-five-caption">Ankylosing Spondylitis</p>
                      </div>
                      <div class="section-five__card">
                        <img src="../static/images/cough.svg" alt="" height="130px">
                        <p class="section-five-caption">Frequent Cough</p>
                      </div>
                      <div class="section-five__card">
                        <img src="../static/images/kidney.svg" alt="" height="130px">
                        <p class="section-five-caption">Nephrotic Syndrome</p>
                      </div>
                  <!-- </div> -->
                  <!-- <div class="section-five-fb2"> -->
                    <div class="section-five__card">
                        <img src="../static/images/headache.svg" alt="" height="130px">
                        <p class="section-five-caption">Migrane</p>
                      </div>
                      <div class="section-five__card">
                        <img src="../static/images/hair.svg" alt="" height="130px">
                        <p class="section-five-caption">Hairfall</p>
                      </div>
                      <div class="section-five__card">
                        <img src="../static/images/inhaler.svg" alt="" height="130px">
                        <p class="section-five-caption">Child Asthma</p>
                      </div>
                      <div class="section-five__card">
                        <img src="../static/images/dermatitis.svg" alt="" height="130px">
                        <p class="section-five-caption">Eczema</p>
                      <!-- </div> -->
                        </div>
              </div>  
              <button class="btn" onclick="loremipsun()">Load More</button>

              <h2 class="quote">"Homeopathy is a system of natural medicine based upon the ancient principle of “like cures like.”</h2>
            </div>
        </section>
        <!-- Section Five End--> 

        <!-- Section Six Start--> 
        <section id="testimonials" class="section-six">
            <div>
                <h1>1000+ patients cured</h1>
                <div class="section-six__cards">
                    <div class="section-six__card">
                        <h3>Jane Doe</h3>
                        <h6>April 20, 2020</h6>
                        <span class="stars"><img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star-half.svg" alt=""></span>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit" amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta</p>
                    <div class="section-six__ba-images">
                        <div class="img-comp-container">
                            <div class="img-comp-img">
                              <img src="../static/images/after.png" width="300" height="200">
                            </div>
                            <div class="img-comp-img img-comp-overlay">
                              <img src="../static/images/before.png" width="300" height="200">
                            </div>
                          </div>
                    </div>
                    </div>
                    <div class="section-six__card">
                        <h3>Jane Doe</h3>
                        <h6>April 20, 2020</h6>
                        <span class="stars"><img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star-half.svg" alt=""></span>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit" amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta</p>
                    <div class="section-six__ba-images">
                        <div class="img-comp-container">
                            <div class="img-comp-img">
                              <img src="../static/images/after.png" width="300" height="200">
                            </div>
                            <div class="img-comp-img img-comp-overlay">
                              <img src="../static/images/before.png" width="300" height="200">
                            </div>
                          </div>
                    </div>
                    </div>
                    <div class="section-six__card">
                        <h3>Jane Doe</h3>
                        <h6>April 20, 2020</h6>
                        <span class="stars"><img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star.svg" alt="">
                            <img src="../static/images/Icon ionic-ios-star-half.svg" alt=""></span>
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit" amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta</p>
                    <div class="section-six__ba-images">
                        <div class="img-comp-container">
                            <div class="img-comp-img">
                              <img src="../static/images/after.png" >
                            </div>
                            <div class="img-comp-img img-comp-overlay">
                              <img src="../static/images/before.png" >
                            </div>
                          </div>
                    </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section Six End--> 

        <!-- Section Seven Start--> 
        <section class="section-seven">
            <div>
                <div class="section-seven-content" >
                    <h1>Curability Test</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit amet, consectetur</p>
                </div>

                <div class="section-seven-flex">
                    <div class="badge" data-aos="slide-right" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">
                        <img src="../static/images/curabilitybadge.svg" alt="" style="height: 26.667vw; width: 26.667vw">
                        <p>Curability Test</p>
                    </div>
                   
                    <div class="section-seven__cards" data-aos="slide-left" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">
                        <!-- <div class="section-seven-fb1"> -->
                            <div class="section-seven__card">
                                <div class="section-seven__lungs" ></div>
                                <img src="../static/images/lungs.svg" alt="" height="130px">
                                <p class="section-seven-caption">Asthma</p>
                            </div>
                            <div class="section-seven__card">
                                <img src="../static/images/spine.svg" alt="" height="130px">
                              <p class="section-seven-caption">Ankylosing Spondylitis</p>
                            </div>
                            <div class="section-seven__card">
                                <img src="../static/images/cough.svg" alt="" height="130px">
                              <p class="section-seven-caption">Frequent Cough</p>
                            </div>
                        <!-- </div> -->

                        <!-- <div class="section-seven-fb2"> -->
                            <div class="section-seven__card">
                                <img src="../static/images/headache.svg" alt="" height="130px">  
                                <p class="section-seven-caption">Migrane</p>
                            </div>
                            <div class="section-seven__card">
                                <img src="../static/images/hair.svg" alt="" height="130px">                        
                                <p class="section-seven-caption">Hairfall</p>
                            </div>
                            <div class="section-seven__card">
                                <img src="../static/images/inhaler.svg" alt="" height="130px">                          
                                <p class="section-seven-caption">Child Asthma</p>
                            </div>
                        <!-- </div> -->
                        
                        
                       </div>

                       </div> 
            </div>
            <button class="btn" onclick="loremipsun()">Take Test</button>
        </section>
        <!-- Section Seven End-->

        <!-- Section Eight Start-->         
        <section id="gallery" class="section-eight">
            <h1>Gallery</h1>
            <div class="section-eight-flex">
                <div class="large-img" data-aos="fade-right" data-aos-offset="350" data-aos-delay="50" data-aos-duration="900">
                    <img src="../static/images/passage@2x.png" alt="" >
                </div>
                <div class="small-image-flex">
                    <div class="small-img1" data-aos="fade-down" data-aos-offset="350" data-aos-delay="50" data-aos-duration="900">
                        <img src="../static/images/plant.png" alt="">
                        <img src="../static/images/waiting.png" alt="">
                    </div>
                   <div class="small-img2" data-aos="fade-up" data-aos-offset="350" data-aos-delay="50" data-aos-duration="900">
                    <img src="../static/images/waiting.png" alt="">
                    <img src="../static/images/room.png" alt="">
                   </div>
                </div>
               
                
            </div>
        </section>
        <!-- Section Eight End-->
        
        <!-- Section Nine Start-->
        <section class="section-nine">
            <h1>We are in 10+ cities</h1>
            <div class="section-nine-flex">
                <div class="section-nine-space"></div>
                <div class="section-nine__cities">
                    <div class="city1to3">
                        <div class="section-nine__city">
                            <p class="section-nine-location">Mumbai Headquarter</p>
                            <p class="section-nine-address">211- Woodrow Building, off veera desai road, Andheri west</p>
                            <p class="section-nine-direction" data-aos="slide-up" data-aos-offset="100" data-aos-delay="50" data-aos-duration="500">Get Directions</p>
                        </div>
                        <div class="section-nine__city">
                            <p class="section-nine-location">Mumbai Headquarter</p>
                            <p class="section-nine-address">211- Woodrow Building, off veera desai road, Andheri west</p>
                            <p class="section-nine-direction" data-aos="slide-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="500">Get Directions</p>
                        </div>
                        <div class="section-nine__city">
                            <p class="section-nine-location">Mumbai Headquarter</p>
                            <p class="section-nine-address">211- Woodrow Building, off veera desai road, Andheri west</p>
                            <p class="section-nine-direction" data-aos="slide-up" data-aos-offset="300" data-aos-delay="50" data-aos-duration="500">Get Directions</p>
                        </div>
                    </div>
                    <div class="city4to6">
                        <div class="section-nine__city">
                            <p class="section-nine-location">Mumbai Headquarter</p>
                            <p class="section-nine-address">211- Woodrow Building, off veera desai road, Andheri west</p>
                            <p class="section-nine-direction" data-aos="slide-up" data-aos-offset="300" data-aos-delay="50" data-aos-duration="500">Get Directions</p>
                        </div>
                        <div class="section-nine__city">
                            <p class="section-nine-location">Mumbai Headquarter</p>
                            <p class="section-nine-address">211- Woodrow Building, off veera desai road, Andheri west</p>
                            <p class="section-nine-direction" data-aos="slide-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="500">Get Directions</p>
                        </div>
                        <div class="section-nine__city">
                            <p class="section-nine-location">Mumbai Headquarter</p>
                            <p class="section-nine-address">211- Woodrow Building, off veera desai road, Andheri west</p>
                            <p class="section-nine-direction" data-aos="slide-up" data-aos-offset="100" data-aos-delay="50" data-aos-duration="500">Get Directions</p>
                        </div>
                    </div>
                    <div class="city7to9">
                        <div class="section-nine__city">
                            <p class="section-nine-location">Mumbai Headquarter</p>
                            <p class="section-nine-address">211- Woodrow Building, off veera desai road, Andheri west</p>
                            <p class="section-nine-direction" data-aos="slide-up" data-aos-offset="100" data-aos-delay="50" data-aos-duration="500">Get Directions</p>
                        </div>
                        <div class="section-nine__city">
                            <p class="section-nine-location">Mumbai Headquarter</p>
                            <p class="section-nine-address">211- Woodrow Building, off veera desai road, Andheri west</p>
                            <p class="section-nine-direction" data-aos="slide-up" data-aos-offset="200" data-aos-delay="50" data-aos-duration="500">Get Directions</p>
                        </div>
                        <div class="section-nine__city">
                            <p class="section-nine-location">Mumbai Headquarter</p>
                            <p class="section-nine-address">211- Woodrow Building, off veera desai road, Andheri west</p>
                            <p class="section-nine-direction" data-aos="slide-up" data-aos-offset="300" data-aos-delay="50" data-aos-duration="500">Get Directions</p>
                        </div>
                    </div>
                   
                    
                    

                </div>
            </div>
            <div class="section-nine-button">
                <button class="btn">Find us in your city</button>
            </div>
        </section>
        <!-- Section Nine End-->

        <!-- Section Ten Start-->
        <section class="section-ten">
            <div class="section-ten-flex">
                <div class="section-ten-content" >
                    <h1 data-aos="slide-right" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">Not Convinced Yet?</h1>
                    <p data-aos="slide-right" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">Take a 15 min Free Consultation from our expert Lorem ipsum dolor sit emit consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit amet. consectetur </p>
                    <button class="btn" onclick="loremipsun()" >Get free consultation</button>
                </div>
                <div class="section-ten__images">
                    <div class="section-ten-image__purple" ></div>
                    <div class="section-ten-image__nurse"></div>
                    <div class="section-ten-image__green"></div>
                    <div class="section-ten__purpledots"><img src="../static/images/Repeat Grid 8 purple.svg" alt="" ></div>
                </div>
            </div>
        </section>
        <!-- Section Ten End-->

        <!-- Section Eleven Start-->
        <section id="blog" class="section-eleven">
            <div>
                <h1>Blog</h1>
                <div class="section-eleven__cards">
                    <div class="section-eleven__card" >
                        <div class="section-eleven-card-image" ></div>
                        <div class="section-eleven-card-content" data-aos="fade-up" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">
                            <h2 class="section-eleven-badge">POPULAR</h2>
                            <p class="section-eleven-heading">How to Keep Going When You Don’t Know What’s Next</p>
                            <p class="section-eleven-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit amet, consectetur</p>
                            <p class="section-eleven-date">Published: 20 April</p>
                        </div>
                        
                    </div>
                    <div class="section-eleven__card">
                        <div class="section-eleven-card-image" ></div>
                        <div class="section-eleven-card-content" data-aos="fade-up" data-aos-offset="300" data-aos-delay="300" data-aos-duration="900">
                            <h2 class="section-eleven-badge">POPULAR</h2>
                            <p class="section-eleven-heading">How to Keep Going When You Don’t Know What’s Next</p>
                            <p class="section-eleven-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit amet, consectetur</p>
                            <p class="section-eleven-date">Published: 20 April</p>
                        </div>
                    </div>
                    <div class="section-eleven__card">
                        <div class="section-eleven-card-image"></div>
                        <div class="section-eleven-card-content" data-aos="fade-up" data-aos-offset="300" data-aos-delay="600" data-aos-duration="900"> 
                            <h2 class="section-eleven-badge">POPULAR</h2>
                            <p class="section-eleven-heading">How to Keep Going When You Don’t Know What’s Next</p>
                            <p class="section-eleven-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta. Lorem ipsum dolor sit amet, consectetur</p>
                            <p class="section-eleven-date">Published: 20 April</p>
                        </div>
                    </div>
                </div>
                <button class="btn" onclick="loremipsun()"> Load More</button>
            </div>
        </section>
        <!-- Section Eleven End-->
        <!-- Section Twelve Start-->
        <section id="faq" class="section-twelve">
            <div>
                <h1>Frequently Asked Questions</h1>
                <div class="section-twelve__questions">
                
                        <!-- <div class="section-twelve__question" data-aos="slide-right" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">
                            <p></p>
                        </div> -->

                        <div class="section-twelve__question" data-aos="slide-left" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">
                          
                              
                              <details>
                                <summary>
                                    What are the physical, mental and emotional aspects of homeopathy?
                                    <i class="expland-icon material-icons">keyboard_arrow_down</i>

                            
                          </summary>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta.</p>
                        </details>
                        </div>

                        <div class="section-twelve__question" data-aos="slide-right" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">
                           
                              <details>
                                <summary>
                                    What are the three levels of homeopathic therapy?
                                    <i class="expland-icon material-icons">keyboard_arrow_down</i>

                          </summary>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta.</p>
                        </details>

                        </div>
                        <div class="section-twelve__question" data-aos="slide-left" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">
                           
                              <details>
                                <summary>
                                    Can such small doses be effective?
                            <i class="expland-icon material-icons">keyboard_arrow_down</i>
                          </summary>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta.</p>
                        </details>
                        </div>


                        <div class="section-twelve__question" data-aos="slide-right" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">
                            
                              <details>
                                <summary>
                                    What is the relationship between symptoms and homeopathy?
                                    <i class="expland-icon material-icons">keyboard_arrow_down</i>

                          </summary>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta.</p>
                        </details>
                        </div>


                        <div class="section-twelve__question" data-aos="slide-left" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">
                            
                                
                              
                              <details>
                                <summary>
                                    Is homeopathy merely psychological?
                                    <i class="expland-icon material-icons">keyboard_arrow_down</i>

                          </summary>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta.</p>
                        </details>
                        </div>
                       
                        <div class="section-twelve__question" data-aos="slide-right" data-aos-offset="300" data-aos-delay="50" data-aos-duration="900">
                           
                                
                              
                              <details>
                                <summary>
                            What is the patient's role?
                            <i class="expland-icon material-icons">keyboard_arrow_down</i>

                          </summary>
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum elit id pulvinar porta.</p>
                        </details>
                        
                    </div>
                       
                        
                           
                            
                </div>
            </div>
        </section>
        <!--Section Twelve End-->
    </main>

    <footer>
        <div>
            <p>Copyright ©2020 All rights reserved</p>
        </div>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    function loremipsun() {
  alert("Lorem Ipsun");
}
</script>
<!-- Smooth scroll -->
<script>
	let scroll = new SmoothScroll('a[href*="#"]',{
        speed: 500,
	speedAsDuration: true,
    easing: 'Linear'
    });
 // Easing pattern to use
</script>
<!-- Smooth scroll end -->

<script>
    /*Execute a function that will execute an image compare function for each element with the img-comp-overlay class:*/
    initComparisons();
    </script>

    <script>
        /* Set the width of the side navigation to 250px */
function openNav() {
  document.getElementById("mySidenav").style.width = "300px";
}

/* Set the width of the side navigation to 0 */
function closeNav() {
  document.getElementById("mySidenav").style.width = "0";

}
    </script>

    <!-- Animate on Scroll Library -->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
  disable: function() {
    let maxWidth = 640;
    return window.innerWidth < maxWidth;
  }
});
    </script>

</body>

</html>